.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: auto;
    height: 178px;
    display: block;
  }
  .margin-bottom-30 {
    margin-bottom: 30px;
  }
  .margin-top-10 {
    margin-top: 10px;
  }
  .input-edit {
    float:right; width: 90%;
  }
