footer {
   a {
      &:hover {
         color: $color-red;
      }
   }

   .footer {
      display: grid;
      grid-gap: 20px;

      &__logo {
         flex-shrink: 0;
      }

      &__col {
         &--menu {
            ul {
               column-count: 2;

               li {
                  break-inside: avoid;
               }
            }
         }
      }

      .headquarters {
         ul {
            li {
               display: flex;
               align-items: flex-start;

               img {
                  margin-right: 15px;
                  margin-top: 7px;
               }
            }
         }
      }

      &__right {
         border-top: 1px solid rgba($color: $color-gray1, $alpha: 0.1);
         padding-top: 21px;
         margin-top: 60px;
      }

      @media screen and (min-width: 992px) {
         grid-template-columns: 15% 22% 22% 1fr;
      }

      @media screen and (min-width: 1200px) {
         grid-gap: 65px;

         &__logo {}
      }
   }
}