.header {
  display: flex;
  align-items: center;
  .logo {
    flex-shrink: 0;
    display: block;
    max-width: 161px;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.25);
    z-index: 1;
    opacity: 9;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 1;
    .main-menu {
      display: flex;
      align-items: center;
      margin-right: 25px;
      padding-right: 25px;
      justify-content: space-between;
      flex: 1;
      &::before {
        content: '/';
        font-size: 35px;
        font-weight: 200;
        color: $color-gray1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
      li {
        position: relative;
      }
      a {
        color: $color-gray1;
        font-size: 15px;
        &:hover,
        &.active {
          color: $color-red;
        }
        .fa-angle-down {
          font-size: 13px;
          font-weight: 300;
          vertical-align: -2px;
          margin-left: 4px;
        }
      }
    }

    .has-sub-menu {
      position: relative;
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
      .sub-menu {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        right: 0;
        background: #fff;
        width: fit-content;
        min-width: 200px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.15);
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease-in-out;
        z-index: 2;
        &::after {
          content: '';
          position: absolute;
          background-color: transparent;
          top: -18px;
          height: 18px;
          left: 0;
          right: 0;
          width: 100%;
        }
        li {
          display: block;
          width: 100%;
          a {
            padding: 10px 15px;
            width: 100%;
            display: block;
            border-bottom: 1px solid rgba($color: $color-gray2, $alpha: 0.13);
            &:hover,
            &.active {
              color: $color-red;
            }
          }
        }
      }
    }
  }
  &__languages {
    .language-list {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 125px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
      transform: translateY(-2em);
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 9;
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .item {
        display: flex;
        align-items: center;
        padding: 6px 10px;
        &:not(:last-child) {
          border-bottom: 1px solid rgba($color: $color-gray2, $alpha: 0.13);
        }
        span {
          font-weight: 400;
          display: inline-block;
          margin-left: 7px;
        }
        img {
          @include size(26px);
          object-fit: contain;
          border-radius: 2px;
        }
      }
      @media screen and (max-width: 1199px) {
        left: 0;
        right: unset;
      }
    }
  }
  @media screen and (min-width: 1680px) {
    &__menu {
      margin-left: 90px;
      .main-menu {
        a {
          font-size: 14px;
          .fa-angle-down {
            margin: 0;
            vertical-align: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &__menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 320px;
      height: 100%;
      background: #fff;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding: 40px 20px;
      margin: 0;
      overflow-y: auto;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
      z-index: 99;
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s all ease-in-out;
      &.active {
        transform: unset;
        opacity: 1;
        visibility: visible;
      }
      .main-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 30px 0 0;
        flex: unset;
        width: 100%;
        &::before {
          display: none;
        }

        li {
          display: block;
          width: 100%;
          a {
            display: block;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
          }
          .icon {
            position: absolute;
            top: 0;
            right: 0;
            @include size(45px);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all ease-in-out;
            &.active {
              .fa-angle-down {
                transform: rotate(180deg);
                path {
                  color: $color-red;
                }
              }
            }
          }
        }
      }
      .has-sub-menu {
        .sub-menu {
          position: static;
          opacity: 1;
          visibility: visible;
          transform: unset;
          box-shadow: unset;
          width: 100%;
          transition: unset;
          &::after {
            display: block;
          }
          li {
            a {
              border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
            }
          }
        }
        .mb-click {
          position: absolute;
          top: 0;
          right: 0;
          @include size(44px);
          cursor: pointer;
          background: transparent;
          z-index: 2;
          border-radius: 0;
        }
      }
    }
    &__languages {
      width: 100%;
      text-align: left;
      .fa-angle-down {
        display: none;
      }
      .language-list {
        min-width: 110px;
      }
    }
  }
}
