.iframe-video {
  @media (max-width: 991px) {
    iframe {
      width: 100% !important;
      height: auto !important;
      aspect-ratio: 16/9 !important;
    }
  }
}

.swiper-main {
  [class*='swiper-button'] {
    width: auto;
    height: auto;

    &::after {
      content: none;
    }

    @media (min-width: 768px) {
      &.swiper-button-next {
        right: 20px;
      }

      &.swiper-button-prev {
        left: 20px;
      }
    }

    // @media (max-width: 767px) {
    //   transform: scale(0.8);
    // }
  }

  .swiper-pagination {
    &-bullet {
      width: 10px;
      height: 10px;
      background: #fff;
      border: 2px solid #fff;
      opacity: 1;

      &-active {
        background: $color-red;
      }
    }
  }
}

.swiper-slide-main {
  position: relative;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100% !important;
    width: 100% !important;
  }
}

.swiper-thumbs {
  .swiper-video {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../images/icon-play.png') no-repeat;
      background-size: contain;
      @include size(32px);
    }
  }

  .swiper-slide {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: #0000004d;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s;
    }

    &:hover,
    &.swiper-slide-thumb-active {
      &::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
    }
  }
}

#page-contact {
  @media screen and (max-width: 767px) {
    padding: 15px;
    margin: 0 !important;
    overflow: hidden;

    .modal-content {
      overflow: unset;
      max-height: 95%;

      .btn-close {
        top: 10px;
        right: 10px;
      }
    }
  }
}
