.sidebar-category {
  a {
    &.active,
    &:hover {
      font-weight: 700;
      color: #fff;
      background: $color-red;
      border: 1px solid $color-red;

      img {
        filter: brightness(999);
      }
    }
  }
}

.pagination {
  a {
    &.active,
    &:hover {
      background: $color-red;
      color: #fff !important;

      img {
        filter: brightness(999);
      }
    }
  }
}
