.banner {
   [class*='swiper-button'] {
      outline: 0;

      &::after {
         display: none;
      }
   }

   .swiper-slide {
      min-height: 350px;
      height: unset;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.socials-action {
   a {
      &:hover {
         color: $color-red;

         svg path {
            fill: $color-red;
         }
      }
   }

   .left {
      span {
         &:not(:last-child) {
            margin-right: 50px;
         }

         svg {
            margin-right: 8px;
         }
      }
   }

   .right {
      a {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         @include size(30px);
         margin-left: 15px;

         &:hover {
            svg path {
               fill: $color-red;
            }
         }
      }
   }
}

.consultation {
   &__form {
      input {
         border: unset;
         border-bottom: 1px solid #e0e0e0;
         font-size: 14px;
         padding: 0 0 10px;
         width: 100%;
         outline: 0;

         &:focus {
            border: 0;
            border-bottom: 1px solid #e0e0e0;
            box-shadow: unset;
         }

         &::placeholder {
            color: $color-gray2;
         }
      }
   }

   &__btn {
      padding: 7px 15px;
   }

   &__content {
      flex: 1;

      .horizontal-line {
         &::after {
            width: 75px;
         }
      }

      p {
         display: -webkit-box;
         -webkit-line-clamp: 7;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         word-break: break-word;
      }
   }

   @media screen and (min-width: 768px) {
      .container {
         display: flex;
      }

      &__form {
         align-self: center;
         flex-basis: 309px;
         flex-shrink: 0;
         align-self: stretch;

         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }
   }

   @media screen and (min-width: 1200px) {
      .container {
         align-items: flex-start;
      }

      &__form {
         flex-basis: 419px;
         height: 375px;
         margin-top: -15px;
      }

      &__content {
         position: absolute;
         top: -30px;
         right: 0;
         width: 80.6%;
         max-width: 1200px;
         padding: 52px 15px 64px 250px;
         min-height: 409px;
      }
   }

   @media screen and (min-width: 1440px) {
      &__form {
         flex-basis: 559px;
      }

      &__content {
         padding-left: 411px;
      }
   }

   @media screen and (min-width: 1800px) {
      &__content {
         max-width: 1363px;
         padding-left: 386px;
      }
   }
}

.activity {
   &__list {
      display: grid;
      grid-gap: 25px;
   }

   .image {
      max-width: 199px;
      max-height: 199px;
      margin: 0 auto;
   }

   .content {
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: -22px;
         left: 50%;
         transform: translateX(-50%);
         width: 45px;
         height: 2px;
         background: $color-red;
      }
   }

   @media screen and (min-width: 768px) {
      &__list {
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 20px;
      }
   }

   @media screen and (min-width: 1440px) {
      &__list {
         grid-gap: 70px;
      }
   }

   @media screen and (min-width: 1680px) {}
}

.project {
   overflow: hidden;

   .project__list-swiper {
      overflow: unset;
   }

   &__list {
      .swiper-wrapper {
         height: auto;
         overflow: unset;

         .swiper-slide {
            height: unset;
         }
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:hover {
         .image img {
            transform: scale(1.1);
         }
      }

      .image {
         padding-bottom: 322px;
         position: relative;
         overflow: hidden;

         img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform .8s ease;
         }
      }

      .content {
         display: flex;
         flex-direction: column;
         flex: 1;
         align-items: flex-start;

         .name {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
         }

         .desc {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
         }

         .btn-outline {
            margin-top: auto;
         }
      }
   }

   .swiper-nav {
      @media screen and (min-width: 1200px) {
         position: absolute;
         top: 32%;
         right: 18%;
         transform: translate(-18%, -32%);
         width: 104px;
         height: 64px;
         z-index: 2;
         border-radius: 99px;
         background: #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;

         [class*='swiper-button'] {
            position: static;
            height: 100%;
            width: 50%;
            margin: 0;
            padding: 0 10px;

            @media screen and (min-width: 1200px) {}
         }
      }

      @media screen and (min-width: 1680px) {
         right: 20%;
         transform: translate(-20%, -32%);
      }
   }
}

.award {
   overflow: hidden;

   .award__list-swiper,
   .swiper-wrapper {
      overflow: unset;
   }

   @media screen and (min-width: 1680px) {
      padding: 191px 0 148px;
   }

   .swiper-nav {
      @media screen and (max-width: 1199px) {
         [class*='swiper-button'] {
            top: calc(50% + 22px);
            transform: translateY(-50%);
         }
      }

      @media screen and (min-width: 1200px) {
         top: 50%;
         right: 20%;
         transform: translate(-20%, -50%);
      }
   }

   .swiper-wrapper {
      .swiper-slide {
         height: unset;
      }
   }

   &__item {
      height: 100%;
   }
}

.events {
   .news-hot {
      &:hover {
         .image img {
            transform: scale(1.1);
         }
      }

      .image {
         padding-bottom: 308px;
         position: relative;
         overflow: hidden;

         img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform .8s ease;
         }
      }

      .name {
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         word-break: break-word;
      }
   }

   .title-general {
      &::before {
         width: 75px;
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 2px;
         width: 100%;
         background: #e0e0e0;
      }
   }

   .partners {
      overflow: hidden;

      .image {
         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }

      .swiper-slide {
         display: flex;
         align-items: center;
         justify-content: center;
         height: calc((100% - 30px) / 3) !important;
      }

      .swiper-pagination {
         bottom: 0;
         margin-top: 50px;
      }
   }

   @media screen and (min-width: 768px) {
      &__wrapper {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 30px;

         .news-hot,
         .partners {
            flex-basis: 48%;
            flex-shrink: 0;
         }
      }
   }

   @media screen and (min-width: 1200px) {
      &__wrapper {
         grid-gap: 60px;
      }
   }
}

.total-number-section {
   .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 15px;
      max-width: 1295px;

      .item {
         width: auto;
         max-width: 300px;

         @media screen and (min-width: 768px) {
            min-width: 185px;
            width: fit-content;
         }

         .number {
            word-break: break-word;
         }
      }

      @media screen and (min-width: 768px) {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 57px 20px;
      }

      @media screen and (min-width: 1024px) {}

      @media screen and (min-width: 1200px) {
         grid-gap: 57px 40px;
      }
   }
}