.introduce-section {
  .introduce {
    &__content {
      .tabs {
        .tab-logo {
        }
        .tab-menu {
          column-count: 2;
          column-gap: 10px;
          li {
            margin-bottom: 10px;
            break-inside: avoid;
            @media screen and (min-width: 992px) {
              margin-bottom: 0;
            }
          }
          a {
            word-break: initial;
            &:hover,
            &.active {
              color: $color-red;
            }
          }
        }
      }
      .content-detail {
        .title-general {
          &::before {
            width: 83px;
          }
        }
      }
    }
    @media screen and (min-width: 576px) {
      &__content {
        .tabs {
          .tab-menu {
            column-count: 3;
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      &__content {
        .tabs {
          .tab-logo {
            margin-right: 40px;
          }
          .tab-menu {
            flex: 1;
            column-count: unset;
            column-gap: unset;
            display: flex;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
          }
        }
        .content-detail {
          .desc {
            column-count: 3;
            column-gap: 16px;
            p {
              break-inside: avoid;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1200px) {
      &__content {
        .tabs {
          .tab-logo {
            margin-right: 40px;
          }
          .tab-menu {
            flex: 1;
            column-count: unset;
            column-gap: unset;
            display: flex;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 60px;
          }
        }
        .content-detail {
          .desc {
            column-gap: 38px;
          }
        }
      }
    }
  }
}

.missions-history {
  .item {
    &-content {
      .desc {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
    &-image {
      height: 376px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    .item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-end;
      align-items: center;
      grid-gap: 30px;
      &-image {
        max-width: 564px;
      }
      &:nth-of-type(even) {
        justify-items: flex-start;
        .item-content {
          order: 2;
        }
        .item-image {
          order: 1;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    grid-gap: 87px;
    .item {
      grid-template-columns: 453px 1fr;
      grid-gap: 80px;
      &:nth-of-type(even) {
        grid-template-columns: 1fr 453px;
      }
    }
    .title-general {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.directory {
  &__content {
    .image-person {
      position: relative;
      padding-bottom: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__item {
    .name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    .image {
      position: relative;
      padding-bottom: 182px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__list {
    [class*='swiper-button'] {
      top: 50%;
      transform: translateY(-50%);
      &::after {
        color: $color-black;
        font-size: 35px;
        display: none;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .image-person {
        flex-basis: 35%;
        padding-bottom: 56.25%;
        margin-right: 30px;
        flex-shrink: 0;
      }
      .data {
        @include col-w(calc(65% - 30px));
      }
    }
  }
  @media screen and (min-width: 992px) {
    &__content {
      .image-person {
        padding-bottom: 509px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .image-person {
      flex-basis: 384px;
      margin-right: 45px;
    }
    .data {
      @include col-w(calc(100% - (384px + 45px)));
    }
  }
  @media screen and (min-width: 1280px) {
    &__list {
      .swiper-button-prev {
        left: -35px;
      }
      .swiper-button-next {
        right: -35px;
      }
    }
  }
}

.company {
  .swiper-wrapper {
    .swiper-slide {
      height: unset;
    }
  }
  &__list {
  }
  &__item {
    height: 100%;
    .image {
      padding-bottom: 170px;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .name,
    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}

.associated-company {
  .associated {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: -14px;
      margin-right: -14px;
    }
    &__item {
      width: 50%;
      padding: 0 14px;
      margin-bottom: 30px;
      .image {
        @include size(92px);
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid #fff;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  @media screen and (min-width: 576px) {
    .associated {
      &__item {
        width: 33.333%;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .associated {
      &__item {
        width: 20%;
        margin-bottom: 55px;
      }
    }
  }
}

.core-values {
  .quote {
    span {
      line-height: 0;
    }
    .bottom {
      position: absolute;
      bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      .top {
        position: absolute;
        top: 10px;
        left: -50px;
      }
      .bottom {
        position: absolute;
        bottom: 0px;
        right: -10px;
      }
    }
  }
  .value__list {
    display: grid;
    grid-gap: 40px;
  }
  .value__item {
    display: grid;
    grid-gap: 20px;
    .image {
      position: relative;
      padding-bottom: 376px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .value__list {
      grid-gap: 87px;
    }
    .value__item {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      align-items: center;
      &:nth-of-type(even) {
        .content {
          order: 2;
        }
        .image {
          order: 1;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .value__item {
      grid-gap: 42px;
      .content {
        max-width: 454px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.histories {
  .history {
    &__item {
      .image {
        padding-bottom: 223px;
        width: 100%;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .image-flat {
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -41px;
        height: 43px;
        width: 2px;
        background: $color-gray3;
      }
    }
    .history {
      &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-gap: 100px;
        padding-bottom: 74px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 2px;
          background: $color-gray3;
        }
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 32px);
          left: 50%;
          transform: translate(-50%, -50%);
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: $color-gray1;
          z-index: 1;
        }
        &:nth-of-type(even) {
          .image {
            order: 2;
          }
          .content {
            order: 1;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .history {
      &__item {
        .content,
        .image {
          width: 379px;
        }
        &:not(:nth-of-type(even)) {
          .content {
            margin-left: auto;
          }
        }
        &:nth-of-type(even) {
          .image {
            margin-left: auto;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .history {
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 77px;
        width: 2px;
        bottom: -75px;
        background: $color-gray3;
      }
    }
  }
}

.leadership {
  &__list {
  }
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, (minmax(180px, 233px)));
    justify-content: center;
    margin: 0 auto;
    row-gap: 20px;
    * {
      padding: 0;
    }
    &-between {
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fit, (minmax(180px, 203px)));
    }
  }
  &__item {
    margin-bottom: 30px;
    &--row {
      max-width: 180px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .row {
      row-gap: 30px;
      &-between {
        grid-gap: 30px;
      }
    }
    &__item {
      margin-bottom: 55px;
    }
  }
}
