.banner {
  &-qhcd {
    &::after {
      content: none;
    }
  }
}

.qhcd {
  &-item {
    @media (min-width: 992px) {
      &:nth-child(odd) {
        .image {
          &::before {
            right: 0;
          }
        }

        .content {
          margin-left: 30px;

          @media (min-width: 1200px) {
            margin-left: 45px;
          }
          margin-right: auto;
        }
      }

      &:nth-child(even) {
        flex-flow: row-reverse;

        .image {
          &::before {
            left: 0;
            transform: translateY(-50%) rotate(180deg);
          }
        }

        .content {
          margin-right: 30px;

          @media (min-width: 1200px) {
            margin-right: 45px;
          }
          margin-left: auto;
        }
      }
    }

    .image {
      @media (min-width: 992px) {
        &::before {
          content: '';
          position: absolute;
          background-image: url(../images/svg-wave-white.svg);
          background-repeat: no-repeat;
          background-size: 100% auto;
          width: 15px;
          height: 80px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
    }

    .btn-link {
      &::before {
        content: '';
        position: absolute;
        background-image: url(../images/svg-arrow-red.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 35px;
        height: 7px;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
      }
    }
  }
}
