.tabs-onclick {
   a {
      display: block;
      border-bottom: 2px solid transparent;
      padding-bottom: 15px;

      &.active,
      &:hover {
         color: $color-black;
         border-bottom: 2px solid $color-red;
      }
   }
}

.blog--tabs-item {
   display: none;
}

#relatedLinhvuc {
   [class*='swiper-button'] {
      top: 40%;
      margin: 0;

      &::after {
         display: none;
      }

      @media (min-width: 1200px) {
         &.swiper-button-next {
            right: -30px;
         }

         &.swiper-button-prev {
            left: -30px;
         }
      }
   }
}