<template>
  <div class="promotionCampaign-list">
      <search-bar></search-bar>
      <promotion-campaign-table></promotion-campaign-table>
  </div>
</template>


<script src="./PromotionCampaignList.js"></script>