@tailwind base;
@tailwind components;
@tailwind utilities;

$font-san: 'San Francisco Text';
$font-iciel: 'iCiel Rift';
$font-utm: 'UTM Bebas';

$color-gray1: #4f4f4f;
$color-gray2: #828282;
$color-gray3: #bdbdbd;
$color-black: #060709;
$color-darkBlue: #001d2f;
$color-red: #ec2029;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   line-height: 1.5;
   font-weight: 400;
   color: $color-gray1;
   $font-san: 'San Francisco Text';
}

img {
   max-width: 100%;
}

p {
   margin-bottom: 1rem;
}

.bg-section {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.vertical-line {
   &::after {
      content: '';
      height: 132px;
      width: 2px;
      background: $color-red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -66px;
      z-index: 2;
      display: none;
   }

   @media screen and (min-width: 1200px) {
      &::after {
         display: block;
      }
   }
}

a {
   word-break: break-word;
}

.horizontal-line {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: $color-red;
      height: 2px;
      width: 45px;
      z-index: 1;
   }

   &-center {
      &::before {
         left: 50%;
         transform: translateX(-50%);
      }
   }
}

input,
select,
textarea {
   &:focus {
      outline: 0;
      border-color: unset;
      box-shadow: unset;
   }
}

.title-general {
   text-transform: uppercase;
   color: $color-black;
   font-family: 'iCiel Rift';
   font-size: 30px;
   line-height: 48px;
   padding-bottom: 8px;
   margin-bottom: 27px;

   @media screen and (min-width: 992px) {
      font-size: 40px;
   }
}

.btn-outline {
   border: 1px solid #ec2029;
   padding: 11px 27px 11px 38px;
   display: inline-flex;
   align-items: center;
   color: $color-black;
   font-size: 14px;
   position: relative;
   margin-left: 17px;
   transition: 0.2s padding-left ease-in-out, 0.2s color linear;

   svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -17px;
      transition: 0.2s left ease-in-out;
   }

   &:hover {
      padding-left: 58px;
      color: $color-red;

      svg {
         left: 8px;
      }
   }
}

.swiper-nav {
   [class*='swiper-button'] {
      @media screen and (max-width: 1199px) {
         top: 40%;
         transform: translateY(-40%);
         height: 45px;
         width: 45px;
         background: #fff;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &::after {
         display: none;
      }
   }

   @media screen and (min-width: 1200px) {
      position: absolute;
      top: 32%;
      right: 18%;
      transform: translate(-18%, -32%);
      width: 104px;
      height: 64px;
      z-index: 2;
      border-radius: 99px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      [class*='swiper-button'] {
         position: static;
         height: 100%;
         width: 50%;
         margin: 0;
         padding: 0 10px;

         @media screen and (min-width: 1200px) {}
      }
   }

   @media screen and (min-width: 1680px) {
      right: 20%;
      transform: translate(-20%, -32%);
   }
}

.swiper-button-outcontainer {
   &::after {
      display: none;
   }

   &.swiper-button-prev {
      left: 0;
   }

   &.swiper-button-next {
      right: 0;
   }

   @media screen and (min-width: 1280px) {
      &.swiper-button-prev {
         left: -35px;
      }

      &.swiper-button-next {
         right: -35px;
      }
   }
}

.breadcrumb {
   &-item {
      position: relative;
      align-self: center;
      max-width: 500px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      h1 {
         line-height: unset;
      }

      &::before {
         display: none;
      }

      &:not(:first-child) {
         margin-left: 13px;
         padding-left: 13px;

         &::after {
            content: '';
            position: absolute;
            top: 7px;
            left: -4px;
            height: 13px;
            width: 8px;
            background: url(../images/icon-arrow-tight.png) no-repeat;
            background-position: center;
            background-size: contain;
         }
      }

      &.active,
      a {
         color: $color-gray3;

         &.active {
            color: $color-red;
         }
      }
   }
}

.hover-text-red {
   transition: 0.3s all;

   &:hover {
      color: $color-red  !important;
   }
}

.detail-dist {
   img {
      margin-left: auto;
      margin-right: auto;
   }

   iframe {
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 991px) {
         width: 100%;
      }
   }

   ul,
   ol {
      list-style-position: inside;

      li {
         margin-bottom: 6px;
      }
   }

   ul {
      list-style-type: disc;
   }

   ol {
      list-style-type: decimal;
   }
}

.google-map {
   iframe {
      width: 100% !important;
   }
}