@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Light.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Heavy.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Black.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Bold.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldG1.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldG1.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Ultralight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Thin.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldG2.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldG2.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SanFranciscoDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldItalicG2.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldItalicG2.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldItalicG1.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldItalicG1.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldItalicG3.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldItalicG3.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Heavy.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-BoldG3.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-BoldG3.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-HeavyItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-ItalicG1.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-ItalicG1.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Italic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Medium.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-MediumItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-ItalicG3.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-ItalicG3.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-LightItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-ItalicG2.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-ItalicG2.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Light.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Regular.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-RegularG3.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-RegularG3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Thin.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-RegularG2.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-RegularG2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-Semibold.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-RegularG1.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-RegularG1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-ThinItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../fonts/SanFranciscoText-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/SanFranciscoText-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'UTM Bebas';
  src: url('../fonts/UTMBebas.woff2') format('woff2'), url('../fonts/UTMBebas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iCiel Rift';
  src: url('../fonts/iCielRift-Regular.woff2') format('woff2'), url('../fonts/iCielRift-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
