// set width cho cột cho flex
@mixin col-w($width) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 $width;
  flex: 0 0 $width;
  max-width: $width;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
