<template>
    <el-form label-width="120px">
        <el-form-item label="Kích thước">
            <el-input v-model="size"></el-input>
        </el-form-item>
          <el-form-item label="Chất liệu">
            <el-input v-model="matter"></el-input>
        </el-form-item>
        <!-- <el-form-item label="Nhúng video">
            <el-input type="textarea" v-model="video_link" :rows="3"></el-input>
        </el-form-item> -->
        <!-- <el-form-item label="Giá thị trường">
            <el-input v-model="global_price"></el-input>
        </el-form-item> -->
        <!-- <el-form-item label="Giá bán">
            <el-input v-model="price"></el-input>
        </el-form-item> -->
        <!-- <el-form-item label="Thương hiệu">
            <el-select v-model="manufacturer_id" placeholder="Select">
                <el-option
                        v-for="item in manufacturer"
                        :key="item.manufacturer_id"
                        :label="item.name"
                        :value="item.manufacturer_id">
                </el-option>
            </el-select>

        </el-form-item> -->
        <!-- <el-form-item label="Trạng thái kho">
           <el-select v-model="stock_status_id" placeholder="Select" >
             <el-option
                 v-for="(item) in stock"
                 :key="item.stock_status_id"
                 :label="item.name"
                 :value="item.stock_status_id">
             </el-option>
           </el-select>
       </el-form-item>
        <el-form-item label="Trọng lượng">
         <el-input type='number' v-model="weight"></el-input>
       </el-form-item> -->
        <el-form-item label="Thứ tự">
            <el-input v-model="sort_order"></el-input>
        </el-form-item>
        <el-form-item label="Trạng thái">
            <el-select v-model="status" placeholder="Select">
                <el-option
                        v-for="item in optionsStatus"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <!--<el-form-item label="Freeship">
            <el-radio-group v-model="freeship">
                <el-radio-button label="0">Bật</el-radio-button>
                <el-radio-button label="1">Tắt</el-radio-button>
            </el-radio-group>
        </el-form-item>-->
    </el-form>
</template>
<script>
    import numberFormat from '../../mixins/numberFormat.js';
    import api from '../../helpers/api';

    export default {
        name: 'ProductData',
        // props:['lang','label','image'],
        mixins: [numberFormat],
        data: function () {
            return {
                // langData: this.lang,
                productId: Number(window.product_id),
                optionsStatus: [{
                    value: 1,
                    label: 'Ẩn',
                }, {
                    value: 2,
                    label: 'Hiển thị',
                }],
                manufacturer: '',
                stock: '',
            };
        },
        mounted() {
            this.productDataByID();
            // this.stockData();
            this.manufacturerData();
        },
        computed: {
            freeship: {
                get() {
                    return this.$store.state.b.content.shipping_required;
                },
                set(value) {
                    this.$store.dispatch('b/setFreeship', value);
                },
            },
            eshopID() {
                return this.$store.state.b.content.eshop_product_id;
            },
            size: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.size !== 'undefined') {
                        return this.$store.state.b.content.size;
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateSize', value);
                },
            },
            matter: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.matter !== 'undefined') {
                        return this.$store.state.b.content.matter;
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateMatter', value);
                },
            },
            sort_order: {
                set(value) {
                    this.$store.dispatch('b/setSort_order', value);
                },
                get() {
                    if (typeof this.$store.state.b.content.sort_order !== 'undefined') {
                        return this.$store.state.b.content.sort_order;
                    }
                },
            },
            global_price: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.global_price !== 'undefined') {
                        const priceOrigin = this.$store.state.b.content.global_price;
                        return this.numberFormat(priceOrigin);
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateGlobal_price', value.replace(/[^0-9]/g, ''));
                },
            },
            price: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.price !== 'undefined') {
                        const priceOrigin = this.$store.state.b.content.price;
                        return this.numberFormat(priceOrigin);
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updatePrice', value.replace(/[^0-9]/g, ''));
                },
            },
            stock_status_id: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.stock_status_id !== 'undefined') {
                        return this.$store.state.b.content.stock_status_id;
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateStock_status_id', value);
                },
            },
            manufacturer_id: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.manufacturer_id !== 'undefined') {
                        return this.$store.state.b.content.manufacturer_id;
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateManufacturer', value);
                },
            },
            status: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.status !== 'undefined') {
                        return this.$store.state.b.content.status;
                    }
                },
                set(value) {
                    this.$store.dispatch('b/updateStatus', value);
                },
            },
            weight: {
                // eslint-disable-next-line vue/return-in-computed-property
                get() {
                    if (typeof this.$store.state.b.content.weight !== 'undefined') {
                        return this.$store.state.b.content.weight;
                    }
                },
                set(value) {
                    if (value >= 0) {
                        this.$store.dispatch('b/updateWeight', value);
                    }
                },
            },
        },
        methods: {
            getAndSetData(content) {
                this.$store.dispatch('b/contentData', content);
            },
            async productDataByID() {
                if (!Number.isNaN(this.productId)) {
                    const url = `admin/ajax/products/${this.productId}/controller/prdData`;
                    const products = await api.request('GET', url);
                    if (products) {
                        this.getAndSetData(products.data.data);
                    }
                }
            },
            async stockData() {
                const url = 'admin/ajax/products/controller/getStock';
                const stock = await api.request('GET', url);
                this.$store.dispatch('b/setDataPrdOrigin', stock.data.data);
                this.stock = stock.data.data;
            },
            async manufacturerData() {
                const fillters = [];
                const noPagi = 1;
                const perPage = 50;
                const url = 'admin/ajax/manufacturer/controller/manufacturerList';
                const result = await api.request('POST', url, {fillters, noPagi, perPage});
                if (!result.data.error) {
                    this.manufacturer = result.data.data;
                }
            },
        },
    };
</script>
