<template>
  <div class="collection-list">
     <search-bar></search-bar>
      <collection-table></collection-table>
      <!-- <search-bar></search-bar>
      <tag-table></tag-table> -->
  </div>
</template>


<script src="./CollectionList.js"></script>